# Файлы и директории, которые не должны включаться в архив плагина
.git export-ignore
.github export-ignore
.gitignore export-ignore
.gitattributes export-ignore
.cursor export-ignore
.vscode export-ignore
.idea export-ignore
README.md export-ignore
*.md export-ignore